
body{
font-family: Google Sans,arial,sans-serif;
}


h1{
  color: #202124;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.current-info{
  margin: 0;
  padding: 0;
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}
li:first-letter{
  text-transform: capitalize;
}

.weather-border{
  padding: 20px;
  border: 1px solid #B6C3CE;
  border-radius: 10px;
}

.weather-wrap{
  max-width: 600px;
  margin: 30px auto;
}
.overview {
   margin-bottom: 20px;
}

.weather-temperature img{
margin-right: 5px;
height: 64px;
width: 64px;
}

.weather-temperature strong{
color: rgb(32, 33, 36);
display: inline;
font-size: 48px;
font-weight: 400;
line-height: 70px;
}

.units{
  position: relative;
  top:-23px;
  font-size: 16px;
}